name: Publish to crates.io

on:
  release:
    types: [published]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    permissions:
      contents: read # for private repos
      id-token: write # for Trusted Publishing

    environment:
      name: crates.io
      url: https://crates.io/crates/ambient-id

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - name: publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
